.header__menu {
    position: relative;
    display: none;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
}

.header__menu:hover {
    opacity: 0.6;
}

@media screen and (max-width: 580px) {
    .header__menu {
        display: block;
        
    }
}