.header {
    display: flex;
    max-width: calc(100% - 400px);
    margin: 0 auto;
    margin-top: 45px;
    padding: 0;
    padding-bottom: 41px;
    border-bottom: 1px solid rgb(84, 84, 84, 0.7);
    justify-content: space-between;
    align-items: center;
    
    
}



@media screen and (max-width: 1110px) {
    .header {
        max-width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .header {
        margin-top: 28px;
        padding-bottom: 31px;
    }
}